<div class="container-fluid">

  <!--Left Container-->
  <div  class="left-container">

    <div class="row">
      <div class="title">
        All invoices - 2016
        
        <!--SearchBar Component-->
        <div class="btn-group searchBar-container" dropdown>
          <a class="searchBar-image" type="button" dropdownToggle>
            <img src="../assets/images/filter.png">
          </a>    
          <invoice-search-bar dropdownMenu class="dropdown-menu-right searchBar-dropDown" (searchKeyOut)="getSearchKey($event)"> </invoice-search-bar>
        </div>

      </div>
    </div>

    <!--Invoice-list Component-->
    <div class="row">    
      <invoice-list [searchKeyIn]="searchKey" [isClosedIn]="isClosed"
        (invoiceOut)="getSelectedInvoice($event)" (isClosedOut)="getIsClosed($event)">
      </invoice-list>              
    </div>

  </div>

  <!--Right Container-->
  <div class="right-container">

    <img class="Rectangle-2" src="../assets/images/rectangle-2.png"
      srcset="../assets/images/rectangle-2@2x.png 2x, ../assets/images/rectangle-2@3x.png 3x">
    
    <img class="Path-2" src="../assets/images/path-2.png"
      srcset="../assets/images/path-2@2x.png 2x, ../assets/images/path-2@3x 3x">

    <img class="Path-2_2" src="../assets/images/path-2_2.png"
      srcset="../assets/images/path-2_2@2x.png 2x, ../assets/images/path-2_2@3x 3x">

    <invoice-menu></invoice-menu>

     <!--Invoice-detail Component-->
    <invoice-detail *ngIf="!isClosed" [invoice]="selectedInvoice" (close)="getIsClosed($event)"></invoice-detail>
  </div>

</div>



