.left-container {
    width: 800px;
    height: 1024px;
    background-color: #ffffff;
    float:left;
    box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.4);
}

.right-container {
    width: 641px;
    height: 1024px;
    background-color: #0176ff;
    overflow: hidden;
    position: relative;   
}

.Rectangle-2 {
    width: 641px;
    height: 1024px;
    object-fit: contain;
    opacity: 0.35;
}

.Path-2 {
    width: 641.5px;
    height: 341.9px;
    object-fit: contain;
    opacity: 0.5;
    position: absolute;
    bottom:-10px;
}

.Path-2_2 {
    width: 554.5px;
    height: 200.9px;
    object-fit: contain;
    opacity: 0.6;
    position: absolute;
    left: 87px;
    bottom:-25px;
}

.title {   
    color: #0b5cff;
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
    padding-left: 40px;      
}

.searchBar-image {
    cursor: pointer;
}

.searchBar-image:hover {
    background-color: rgba(194, 194, 194, 0.09);
}

.searchBar-container {
    float: right;
    padding-right: 40px;
}

.searchBar-dropDown {
     margin-right: 38px;
     border: none;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
     padding: 0px;
     width: 340px;
}




