<div class="container-fluid">

  <!--Invoice list-->
  <div class="left-container">

    <div class="row">
      <div class="title">
        All invoices - 2016
        <span class="filter">
          <img src="../assets/images/filter.png">
       </span>
      </div>
    </div>

    <div class="row">
      
      <div class='table-container'>
        <table class='table borderless' *ngIf=true>
          <thead>
            <tr>
              <th class="invoices" colspan="5">Invoices</th>
            </tr>
            <tr>
              <th>Type<span class="caret"></span></th>
              <th>Account Name<span class="caret"></span></th>
              <th>Status<span class="caret"></span></th>
              <th>Currency<span class="caret"></span></th>
              <th>Balance<span class="caret"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let invoice of invoices' (click)="onSelect(invoice)" [class.selected]="invoice === selectedInvoice">
              <td>{{invoice.type}}</td>
              <td>{{invoice.accountName}}</td>
              <td>{{invoice.status}}</td>
              <td>{{invoice.currency}}</td>
              <td>{{invoice.balance}}</td>
            </tr>
          </tbody>
        </table>
      </div>
            
            
    </div>

  </div>

  <!--Invoice detail-->
  <div class="right-container">

    <img class="Rectangle-2" src="../assets/images/rectangle-2.png"
      srcset="../assets/images/rectangle-2@2x.png 2x, ../assets/images/rectangle-2@3x.png 3x">
    
    <img  class="Path-2" src="../assets/images/path-2.png"
      srcset="../assets/images/path-2@2x.png 2x, ../assets/images/path-2@3x 3x">

    <img  class="Path-2_2" src="../assets/images/path-2_2.png"
      srcset="../assets/images/path-2_2@2x.png 2x, ../assets/images/path-2_2@3x 3x">

    <div class="meny-container">
      <img class="menu-img" src="../assets/images/menu.png" srcset="../assets/images/menu@2x.png 2x, ../assets/images/menu@3x.png 3x">
     </div>

    <invoice-detail *ngIf="!isClosed" [invoice]="selectedInvoice" (close)="close($event)"></invoice-detail>
  </div>

</div>



