<div class="container-fluid">

  <!--Invoice list-->
  <div class="left-container">

    <div class="row">
      <div class="title">
        All invoices - 2016
        
        <!--Filter Component-->
        <div class="btn-group filter-container" dropdown>
          <a class="filter" type="button" dropdownToggle>
            <img src="../assets/images/filter.png">
          </a>    
          <invoice-filter dropdownMenu class="dropdown-menu-right filter-box" (accountFilter)="onClick($event)"> </invoice-filter>
        </div>

      </div>
    </div>

    <div class="row">
      
      <div class='table-container'>
        <table class='table borderless' *ngIf=true>
          <thead>
            <tr>
              <th class="invoices" colspan="5">Invoices</th>
            </tr>
            <tr>
              <th><span (click)="sort('type')">Type<span [ngClass]="ascending['type'] ? 'caret' : 'caret caret-down'"></span></span></th>
              <th><span (click)="sort('accountName')">Account Name<span [ngClass]="ascending['accountName'] ? 'caret' : 'caret caret-down'"></span></span></th>
              <th><span (click)="sort('status')">Status<span [ngClass]="ascending['status'] ? 'caret' : 'caret caret-down'"></span></span></th>
              <th><span (click)="sort('currency')">Currency<span [ngClass]="ascending['currency'] ? 'caret' : 'caret caret-down'"></span></span></th>
              <th><span (click)="sort('balance')">Balance<span [ngClass]="ascending['balance'] ? 'caret' : 'caret caret-down'"></span></span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let invoice of sortedInvoices | accountName:accountFilter' (click)="onSelect(invoice)" [class.selected]="invoice === selectedInvoice && isClosed === false">
              <td>{{invoice.type}}</td>
              <td>{{invoice.accountName}}</td>
              <td>{{invoice.status}}</td>
              <td>{{invoice.currency}}</td>
              <td>{{invoice.balance | currency:'USD':true}}</td>
            </tr>
          </tbody>
        </table>
      </div>
         
            
    </div>

  </div>

  <!--Invoice detail-->
  <div class="right-container">

    <img class="Rectangle-2" src="../assets/images/rectangle-2.png"
      srcset="../assets/images/rectangle-2@2x.png 2x, ../assets/images/rectangle-2@3x.png 3x">
    
    <img class="Path-2" src="../assets/images/path-2.png"
      srcset="../assets/images/path-2@2x.png 2x, ../assets/images/path-2@3x 3x">

    <img class="Path-2_2" src="../assets/images/path-2_2.png"
      srcset="../assets/images/path-2_2@2x.png 2x, ../assets/images/path-2_2@3x 3x">

        <!--<div class="btn-group meny-container" dropdown>
          <a id="single-button" type="button" class="btn btn-default" dropdownToggle>
            <img class="menu-img" src="../assets/images/menu.png" srcset="../assets/images/menu@2x.png 2x, ../assets/images/menu@3x.png 3x">
          </a>
          <ul dropdownMenu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
            <li role="menuitem"><a class="dropdown-item" href="#">Home</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Print</a></li>
           <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Search</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Help</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Exit</a></li>
          </ul>
        </div>-->

        <invoice-menu></invoice-menu>

    <invoice-detail *ngIf="!isClosed" [invoice]="selectedInvoice" (close)="close($event)"></invoice-detail>
  </div>

</div>



