.invoice-detail-container {
    width: 420px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    margin-left: -210px;
    top: 50%;
    margin-top: -210px;
}

.trump-job-creator__oPt {
    width: 420px;
    height: 185px;
    object-fit: contain;
}

.invoice-detail-title {
    width: 292px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    color: #0277ff;
    margin-left: 30px;
}

.close-button {
    width: 25px;
    height: 25px;
    position:absolute;
    left: 50%;
    margin-left: -12.5px;
    cursor: pointer;
    bottom:-55px;
}


/*Add space between rows*/
tr:nth-child(2n+3) {
    border-top: 15px solid transparent;
}

th:nth-child(2n+1) {
    padding-left: 30px;
    width: 200px;
    font-size: 10px;
    font-weight: bold;
    color: #6a6a6a;
}

th:nth-child(2n) {
    width: 181px;   
    font-size: 10px;
    font-weight: bold;
    color: #6a6a6a;
}

td {
    font-size: 14px;
    font-weight: normal;
    color: #6a6a6a;
    vertical-align:top;
    width: 200px;
}


td:nth-child(2n+1) {
    padding-left: 30px;
}