<div *ngIf="invoice" class="invoice-detail-container">
  <img class="trump-job-creator__oPt" src="../../assets/images/trump-job-creator-o-pt.png"
     srcset="../../assets/images/trump-job-creator-o-pt@2x.png 2x, 
             ../../assets/images/trump-job-creator-o-pt@3x.png 3x" >
   
      <h2 class="invoice-detail-title">{{invoice.accountName}}</h2> 

      <table >
        <tr>
          <th>TYPE</th>
          <th>ACCOUNT NAME</th>
        </tr>
        <tr>
          <td>{{invoice.type}}</td>
          <td>{{invoice.accountName}}</td>  
        </tr>
        <tr>
          <th>STATUS</th>
          <th>CURRENCY</th>
        </tr>
        <tr>
          <td>{{invoice.status}}</td>
          <td>{{invoice.currency}}</td>  
        </tr>
        <tr>
          <th>BALANCE</th>
          <th>NOTES</th>
        </tr>
       <tr>
          <td>{{invoice.balance | currency:'USD':true}}</td>
          <td>{{invoice.notes}}</td>  
        </tr>
      </table>

   <img (click)="closeWindow()" class="close-button" src="../../assets/images/close.png" 
      srcset="../../assets/images/close@2x.png 2x, ../../assets/images/close@3x.png 3x">
     
</div>

<pre>{{invoice | json}}</pre>