.meny-container {
    width: 90px;
    height: 90px; 
    right: 50px;
    top:50px;
    position:absolute; 
}

.btn-default{
    width: 90px;
    height: 90px; 
    border-radius: 0px;
}

.dropdown-menu-right{
    width: 300px !important;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.27);
}

.dropdown-item{
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
    color: black;
}

.menu-img {
    width: 46%;
    height: 25%;
    position:absolute;
    left: 50%;
    margin-left: -23%;
    top: 50%;
    margin-top: -12.5%;
    cursor: pointer;
}
